.row {
  display: flex;
  padding: 0 8px;
  &:hover {
    background-color: #EEE;
  }
  &.current {
    background-color: #DFD;
    font-weight: bold;
  }
  &.current:hover {
    background-color: #BFB;
  }
}