.box {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.crt {
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: top;
  justify-content: center;
}
.tools {
  display: flex;
  gap: 10px;
  justify-content: end;
}

